/*
 Vini Kalra
Class Account- jadrn022

*/

h1 {
    text-align: center;
    }
    
table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    font-family: arial;
    font-size: 120%;
    }
    
td {
    border: 1px solid #AAA;
    padding: 5px;
    }
    
tr:nth-child(even) {
    background-color: #CCC;
    }
